@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {
    background: #f8f9fc;
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: "Open Sans", sans-serif;
}

header {
    width: 100%;
    background: var(--header-bg-color);
    z-index: 1;
    position: fixed;
    display: flex;
    justify-content: space-between;
    padding: 10px 100px;
    animation: header-animation 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

#logo {
    width: 150px;
}

#belt {
    color: rgba(128, 128, 128);
    opacity: 0.7;
    margin: 0 20px;
}

#belt:hover {
    opacity: 1;
}

.menu-holder {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown__button {
    display: inline-block;
    background-color: rgba(247, 153, 28, 0.9);
    font-size: 25px;
    color: #ffffff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown__button:hover {
    background-color: rgba(247, 153, 28, 1);
}

.dropdown__input {
    display: none;
}

.dropdown__menu {
    position: absolute;
    background: var(--header-bg-color);
    color: var(--text-color);
    box-shadow: -1px 24px 52px -14px var(--switch-shadow-color);
    top: 110%;
    right: 0;
    border-radius: 4px;
}

.dropdown__input + .dropdown__menu {
    display: none;
}

.dropdown__input:checked + .dropdown__menu {
    display: block;
}

.dropdown__menu li {
    padding: 10px 20px;
    cursor: pointer;
    white-space: nowrap;
}

.dropdown__menu li:hover {
    background-color: var(--theme-hover);
}

.dropdown__menu li.divider {
    padding: 0;
    margin: 0 20px;
    border-bottom: 1px solid #cccccc;
}

.main-container {
    width: 100%;
    flex: 1 0 auto;
    background: var(--bg-color);
    color: var(--text-color);
    height: 55vw;
    padding: 120px 100px 0 100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1.2fr 0.8fr;
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas:
        "binary js php php"
        "binary js php php"
        "binary js php php"
        "binary js net event"
        "qa js net event"
        "qa js net blog"
        "qa java net blog"
        "qa java net contact";
}

.binary,
.qa,
.js,
.java,
.net,
.php,
.event,
.blog,
.contact {
    position: relative;
    transition: 0.5s;
    padding: 10px;
}

.binary__preview,
.qa__preview,
.js__preview,
.java__preview,
.net__preview,
.php__preview,
.event__preview,
.blog__preview,
.contact__preview {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.8vw;
    color: #ffffff;
}

.qa__content,
.js__content,
.java__content,
.net__content,
.php__content {
    font-weight: bold;
    font-size: 1.5vw;
}

.event__content,
.blog__content {
    overflow-y: scroll;
    height: 100%;
    font-size: 1.2vw;
}

.binary {
    grid-area: binary;
}

.binary__content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.binary__content button {
    min-width: 200px;
    border: none;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    overflow: hidden;
    background: #55b9f3;
    box-shadow:  4px 4px 10px #4da7db, 
                 -4px -4px 10px #5eccff;
    
}

.binary__preview {
    background: url(../img/academy-logo.svg) no-repeat center center;
    background-color: var(--bg-color);
    animation: binary-animation-out 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.binary:hover .binary__preview {
    animation: binary-animation 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.qa {
    grid-area: qa;
}

.qa__preview {
    background-color: #52bf77;
    animation: qa-animation-out 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
    font-size: 10vw;
}

.qa:hover .qa__preview {
    animation: qa-animation 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.js {
    grid-area: js;
}

.js__preview {
    background-color: #f7cf69;
    animation: js-animation 0.5s ease-in both;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 10vw;
    color: #000000;
}

.js:hover .js__preview {
    animation: js-animation-out 0.5s ease-in both;
}

.java {
    grid-area: java;
}

.java__preview {
    background-color: #e12b4c;
    animation: java-animation 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
    font-size: 4vw;
}

.java:hover .java__preview {
    animation: java-animation-out 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.net {
    grid-area: net;
}

.net__preview {
    background-color: #642077;
    animation: net-animation 0.45s cubic-bezier(0.6, -0.28, 0.735, 0.045) both;
    font-size: 8vw;
}

.net:hover .net__preview {
    animation: net-animation-out 0.45s cubic-bezier(0.6, -0.28, 0.735, 0.045) both;
}

.php {
    grid-area: php;
}

.php__preview {
    background-color: #8893c0;
    animation: php-animation 1s cubic-bezier(0.165, 0.84, 0.44, 1) both;
    font-style: italic;
    color: #000000;
    text-transform: lowercase;
    font-size: 6vw;
}

.php:hover .php__preview {
    animation: php-animation-out 1s cubic-bezier(0.165, 0.84, 0.44, 1) both;
}

.event {
    grid-area: event;
}

.event__preview {
    background-color: #2d99ff;
    animation: event-animation 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}

.event:hover .event__preview {
    animation: event-animation-out 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}

.blog {
    grid-area: blog;
}

.blog__preview {
    background-color: #0443a3;
    animation: blog-animation 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.blog:hover .blog__preview {
    animation: blog-animation-out 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.contact {
    grid-area: contact;
}

.contact__content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.contact__content a {
    margin-right: 20px;
    color: var(--text-color);
}

.contact__content a:last-child {
    margin-right: 0;
}

.contact__content a:hover {
    color: #2d99ff;
}

.contact__preview {
    background-color: #00255f;
    animation: contact-animation 1.1s both;
}

.contact:hover .contact__preview {
    animation: contact-animation-out 1.1s both;
}

.footer {
    flex: 0 0 auto;
    width: 100%;
    margin: 0 auto;
    padding: 20px 50px;
    text-align: center;
    font-weight: bold;
    background: var(--bg-color);
    color: var(--text-color);
}

.notification-container {
    width: 250px;
    position: fixed;
    bottom: 10px;
    right: 0;
    font-size: .9em;
}

.notification-wrapper {
    margin: 15px;
    border-radius: 10px;
    padding: 10px 20px;
    color: #ffffff;
    opacity: .9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notification-icon {
    margin-right: 15px;
}

.alert {
    background-color: #c3534e;
}

.success {
    background-color: #6bab69;
}

.warning {
    background-color: #faa045;
}

@media screen and (max-width: 960px) {
    header,
    .main-container,
    footer {
        min-width: 700px;
        padding-left: 50px;
        padding-right: 50px;
    }
    .main-container {
        grid-template-columns: 2.5fr 0.5fr 1.5fr 1.5fr;
        grid-template-rows: 0.8fr 0.8fr 0.8fr 0.8fr 1.2fr 1.1fr 1.1fr 1.1fr 1.1fr;
        height: 120vw;
        grid-template-areas:
            "binary js js event"
            "binary js js event"
            "binary js js blog"
            "binary js js blog"
            "binary js js contact"
            "java java php php"
            "java java php php"
            "qa qa net net"
            "qa qa net net";
    }
}